{% extends "rest_framework/api.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'rest_framework/css/api.css' %}">
{% endblock extrahead %}

{% block title %}API Documentation{% endblock %}

{% block content %}
    <div class="content-main" role="main"  aria-label="{% trans "main content" %}">
        <div class="page-header">
            <h1>{{ name }}</h1>
        </div>
        <div style="float:left">
            {% block description %}
                {{ description }}
            {% endblock %}
        </div>
        <hr>
        <div class="well">
            <h4>Apps</h4>
            {% for name, link in app_api_root_points %}
                <li><a href="{% url link %}">{{ name }}</a></li>
            {% endfor %}

        </div>
    </div>
{% endblock content %}



